@font-face {
    font-family: 'Ransom';
    src: url(Ransom.ttf);
    font-family: "canada-type-gibson", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-family: "canada-type-gibson", sans-serif;
    font-weight: 700;
    font-style: italic;
}
header { /*"THE FEED*/
    font-family: 'Ransom';
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 100px; 
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%, 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 { /*Labels above videos*/
    color: white;
    font-family: "canada-type-gibson", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.grid-item .text-box { /*text box font*/
    font-family: 'canada-type-gibson', sans-serif;
    font-weight: 200;
    font-style: italic;
}

.grid-container { /* this is my attempt at making a grid*/
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 600px)); /* 
    Creates three columns */
    grid-template-rows: repeat(4, auto); /* Creates four rows */
    grid-gap: 40px; /* Spacing between grid items */
    justify-content: center; /* Center grid horizontally */
    align-content: center; /* Center grid vertically */
    height: auto; 
    width: auto; 
    margin: auto;
  
  }
  
  .grid-item {
    background-image: url(../img/final-journal.jpg);
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
   
  }
  .grid-item video {
    width: 60%;
    height: auto;
    object-fit: cover;
  }

  

.text-box {
    width: 100%; /* Takes the full width of the grid item */
    padding: 10px;
    background-color: #fff; 
    margin-top: 10px; /* Adds space between the video/caption and the text box */
}

.text-box {
    border: 3px solid pink; 
    padding: 10px; 
    margin: 10px 0; /* Spacing outside the box */
    background-color: #f0f0f0; /* Light gray background */
    width: 300px; 
}

.text  {
    display: flex;
    justify-content: space-between; /* This spaces the items evenly */
}



